# CRUD operations in SQL DB

In [1]:
import sqlite3

# Create and insert values

In [2]:
#connect to a database

conn= sqlite3.connect('my_example_db')

#create table called AGENTS
conn.execute('''CREATE TABLE  "AGENTS" 
   (
    "AGENT_CODE" CHAR(6) NOT NULL PRIMARY KEY, 
    "AGENT_NAME" CHAR(40), 
    "WORKING_AREA" CHAR(35), 
    "COMMISSION" NUMBER(10,2), 
    "PHONE_NO" CHAR(15), 
    "COUNTRY" VARCHAR2(25) 
     )''')

In [3]:
#insert rows/tuples into table

conn.execute("INSERT INTO AGENTS VALUES ('A001', 'Ravi Kumar', 'Bangalore', '0.15', '077-45625874', '');")
conn.execute("INSERT INTO AGENTS VALUES ('A002', 'Santakumar', 'Chennai', '0.14', '007-22388644', '');")
conn.execute("INSERT INTO AGENTS VALUES ('A003', 'Subbarao', 'Bangalore', '0.14', '077-12346674', '');")
conn.execute("INSERT INTO AGENTS VALUES ('A004', 'Mukesh', 'Mumbai', '0.11', '029-12358964', '');")
conn.execute("INSERT INTO AGENTS VALUES ('A005', 'Ramasundar', 'Bangalore', '0.15', '077-25814763', '');")
conn.commit()

# Read  from table

In [4]:
#Read all from table

cursor = conn.execute('SELECT * FROM AGENTS')

for i in cursor:
    for val in i:
        print(val)
  

#Read all agents in bangalore

print("All agents in Bangalore")
print('------------------------')
cursor = conn.execute('SELECT * FROM AGENTS WHERE WORKING_AREA = "Bangalore"')

for i in cursor:
    for val in i:
        print(val)

A001
Ravi Kumar
Bangalore
0.15
077-45625874

A002
Santakumar
Chennai
0.14
007-22388644

A003
Subbarao
Bangalore
0.14
077-12346674

A004
Mukesh
Mumbai
0.11
029-12358964

A005
Ramasundar
Bangalore
0.15
077-25814763

All agents in Bangalore
------------------------
A001
Ravi Kumar
Bangalore
0.15
077-45625874

A003
Subbarao
Bangalore
0.14
077-12346674

A005
Ramasundar
Bangalore
0.15
077-25814763

# Update

In [5]:
#print data before updation

cursor = conn.execute('SELECT * FROM AGENTS')
print("Before updation")
print("---------------")
for i in cursor:
    print(str(i[0])+"    "+str(i[1])+"    "+str(i[2]))

    
#update Ravi Kumar location to Chennai


cursor = conn.execute('UPDATE AGENTS SET WORKING_AREA = "Chennai" WHERE AGENT_NAME="Ravi Kumar"')
print("After updation")
print("--------------")
cursor = conn.execute('SELECT * FROM AGENTS')
for i in cursor:
    print(str(i[0])+"    "+str(i[1])+"    "+str(i[2]))

Before updation
---------------
A001    Ravi Kumar    Bangalore
A002    Santakumar    Chennai
A003    Subbarao    Bangalore
A004    Mukesh    Mumbai
A005    Ramasundar    Bangalore
After updation
--------------
A001    Ravi Kumar    Chennai
A002    Santakumar    Chennai
A003    Subbarao    Bangalore
A004    Mukesh    Mumbai
A005    Ramasundar    Bangalore

# Delete

In [6]:
#print data before deletion

cursor = conn.execute('SELECT * FROM AGENTS')
print("Before deletion")
print("---------------")
for i in cursor:
    print(str(i[0])+"    "+str(i[1])+"    "+str(i[2]))

    
#Delete Ramasundar's entry


cursor = conn.execute('DELETE FROM AGENTS WHERE AGENT_NAME="Ramasundar"')
print("After deletion")
print("--------------")
cursor = conn.execute('SELECT * FROM AGENTS')
for i in cursor:
    print(str(i[0])+"    "+str(i[1])+"    "+str(i[2]))

Before updation
---------------
A001    Ravi Kumar    Chennai
A002    Santakumar    Chennai
A003    Subbarao    Bangalore
A004    Mukesh    Mumbai
A005    Ramasundar    Bangalore
After deletion
--------------
A001    Ravi Kumar    Chennai
A002    Santakumar    Chennai
A003    Subbarao    Bangalore
A004    Mukesh    Mumbai

In [7]:
conn.close()