# CRUD Operations on MongoDB

In [1]:
#Pymongo is the library we need to connect to MongoDB instance 
!pip install pymongo

Requirement already satisfied: pymongo in /home/ibab/.local/lib/python3.8/site-packages (4.0.1)

In [8]:
import pymongo

In [21]:
#MongoDB runs on port 27017 
connection_url="mongodb://localhost:27017/"

#connect to instance
client=pymongo.MongoClient(connection_url)
mydb = client['my_example_db']

# Create and insert documents

In [22]:
mycol = mydb["Agents"]

#insert one by one 
mydict = { "name": "Bob", "city": "Mumbai" }
mycol.insert_one(mydict)
mydict = { "name": "Biswas", "city": "Agra" }
x = mycol.insert_one(mydict)
print(x.inserted_id)

61cff7502b9fd4f246848d61

In [23]:
#insert many at a time

mylist = [
  { "_id": 1, "name": "Harsh", "city": "Bengaluru"},
  { "_id": 2, "name": "Gayathri", "city": "Mumbai"},
  { "_id": 3, "name": "Akhil", "city": "Delhi"},
  { "_id": 4, "name": "Rose", "city": "Agra"},
  { "_id": 5, "name": "Nimisha", "city": "Idukki"},
  { "_id": 6, "name": "Akhila", "city": "Manjapra"},
  { "_id": 7, "name": "Arnav", "city": "London"},
  { "_id": 8, "name": "Ravi", "city": "Stockholm"}]
x = mycol.insert_many(mylist)
print('ids of documents')
print(x.inserted_ids)

ids of documents
[1, 2, 3, 4, 5, 6, 7, 8]

# Read

In [24]:
x = mycol.find_one()

#print one doc
print(x)

{'_id': ObjectId('61cff7502b9fd4f246848d60'), 'name': 'Bob', 'city': 'Mumbai'}

In [25]:
#print all doc
for x in mycol.find():
    print(x)

{'_id': ObjectId('61cff7502b9fd4f246848d60'), 'name': 'Bob', 'city': 'Mumbai'}
{'_id': ObjectId('61cff7502b9fd4f246848d61'), 'name': 'Biswas', 'city': 'Agra'}
{'_id': 1, 'name': 'Harsh', 'city': 'Bengaluru'}
{'_id': 2, 'name': 'Gayathri', 'city': 'Mumbai'}
{'_id': 3, 'name': 'Akhil', 'city': 'Delhi'}
{'_id': 4, 'name': 'Rose', 'city': 'Agra'}
{'_id': 5, 'name': 'Nimisha', 'city': 'Idukki'}
{'_id': 6, 'name': 'Akhila', 'city': 'Manjapra'}
{'_id': 7, 'name': 'Arnav', 'city': 'London'}
{'_id': 8, 'name': 'Ravi', 'city': 'Stockholm'}

In [26]:
#find document using city

myquery = { "city": "Mumbai" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('61cff7502b9fd4f246848d60'), 'name': 'Bob', 'city': 'Mumbai'}
{'_id': 2, 'name': 'Gayathri', 'city': 'Mumbai'}

In [27]:
#find doc using Regex
#example names starting with G or higher letters

myquery = { "name": { "$gt": "G" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': 1, 'name': 'Harsh', 'city': 'Bengaluru'}
{'_id': 2, 'name': 'Gayathri', 'city': 'Mumbai'}
{'_id': 4, 'name': 'Rose', 'city': 'Agra'}
{'_id': 5, 'name': 'Nimisha', 'city': 'Idukki'}
{'_id': 8, 'name': 'Ravi', 'city': 'Stockholm'}

# Update

In [28]:
#update one
myquery = { "city": "Idukki" }
newvalues = { "$set": { "city": "Ernakulam" } }

mycol.update_one(myquery, newvalues)

#print agents after the update:
for x in mycol.find():
  print(x)

{'_id': ObjectId('61cff7502b9fd4f246848d60'), 'name': 'Bob', 'city': 'Mumbai'}
{'_id': ObjectId('61cff7502b9fd4f246848d61'), 'name': 'Biswas', 'city': 'Agra'}
{'_id': 1, 'name': 'Harsh', 'city': 'Bengaluru'}
{'_id': 2, 'name': 'Gayathri', 'city': 'Mumbai'}
{'_id': 3, 'name': 'Akhil', 'city': 'Delhi'}
{'_id': 4, 'name': 'Rose', 'city': 'Agra'}
{'_id': 5, 'name': 'Nimisha', 'city': 'Ernakulam'}
{'_id': 6, 'name': 'Akhila', 'city': 'Manjapra'}
{'_id': 7, 'name': 'Arnav', 'city': 'London'}
{'_id': 8, 'name': 'Ravi', 'city': 'Stockholm'}

In [29]:
#change city of all in Mumbai to Chennai

myquery = { "city": "Mumbai" }
newvalues = { "$set": { "city": "Chennai" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

2 documents updated.

# Delete

In [30]:
#delete one doc
myquery = { "city": "Chennai" }

mycol.delete_one(myquery)

#print agents after the delete:
for x in mycol.find():
  print(x)

{'_id': ObjectId('61cff7502b9fd4f246848d61'), 'name': 'Biswas', 'city': 'Agra'}
{'_id': 1, 'name': 'Harsh', 'city': 'Bengaluru'}
{'_id': 2, 'name': 'Gayathri', 'city': 'Chennai'}
{'_id': 3, 'name': 'Akhil', 'city': 'Delhi'}
{'_id': 4, 'name': 'Rose', 'city': 'Agra'}
{'_id': 5, 'name': 'Nimisha', 'city': 'Ernakulam'}
{'_id': 6, 'name': 'Akhila', 'city': 'Manjapra'}
{'_id': 7, 'name': 'Arnav', 'city': 'London'}
{'_id': 8, 'name': 'Ravi', 'city': 'Stockholm'}

In [31]:
#delete many doc
myquery = { "name": {"$regex": "^R"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

#print after deletion
for x in mycol.find():
  print(x)

2  documents deleted.
{'_id': ObjectId('61cff7502b9fd4f246848d61'), 'name': 'Biswas', 'city': 'Agra'}
{'_id': 1, 'name': 'Harsh', 'city': 'Bengaluru'}
{'_id': 2, 'name': 'Gayathri', 'city': 'Chennai'}
{'_id': 3, 'name': 'Akhil', 'city': 'Delhi'}
{'_id': 5, 'name': 'Nimisha', 'city': 'Ernakulam'}
{'_id': 6, 'name': 'Akhila', 'city': 'Manjapra'}
{'_id': 7, 'name': 'Arnav', 'city': 'London'}